/.manifest
/.pecrypt-link
/.pecrypt-link-updated
/External/monodevelop
/External/roslyn/Microsoft.CodeAnalysis.CSharp.Workspaces
/External/roslyn/Microsoft.CodeAnalysis.CSharp/
/External/roslyn/Microsoft.CodeAnalysis.Common/
/External/roslyn/Microsoft.CodeAnalysis.Workspaces.Common
/External/roslyn/Microsoft.Composition
/External/roslyn/System.Collections.Immutable
/External/roslyn/System.Reflection.Metadata
/pecrypt
/provisioning/_provisionator/

bin
obj
packages
out
temp
/lib
.vs
*.boltdata

*.suo
*.sdf
*.userprefs
*.user
*.nupkg
*.t4properties
*.DS_Store
*.sln.ide
*.metaproj
*.tmp
*.cache

.nuget
*.lock.json
*.nuget.props
*.nuget.targets

log.txt
NuGet.exe
/NULL
/msbuild.log
*.binlog